<template>
  <div style="display: none">
    <div :id="id"
         :class="{ modal:true,fade: fade, in: animateModal || !fade }"
         style="display: block"
         @click="onClickOut($event)">
      <div :class="['modal-dialog','modal-'+size]" role="document" style="z-index: 9999">
        <div class="modal-content">
          <div class="modal-header">
            <slot name="modal-header"></slot>
          </div>
          <div class="modal-body">
            <slot name="modal-body"></slot>
          </div>
          <div class="modal-footer">
            <slot name="modal-footer"></slot>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop" :class="{ fade: fade, in: animateBackdrop || !fade }"></div>
  </div>
</template>

<script>

  var util = require('../../util/util');
  var eventHub = util.eventHub;

  //import {csstransitions} from '../utils/helpers.js'
  //import '../utils/ie9_polyfill.js'

  // this is directly linked to the bootstrap animation timing in _modal.scss
  // // for browsers that do not support transitions like IE9 just change slide immediately
  //const TRANSITION_DURATION = csstransitions() ? 300 : 0;

  export default {
    replace: true,
    computed: {},
    data() {
      return {
        animateBackdrop: false,
        animateModal: false,
      }
    },
    props: {
      id: {
        type: String,
        default: 'default'
      },
      size: {
        type: String,
        default: 'md'
      },
      fade: {
        type: Boolean,
        default: true
      },
      closeOnBackdrop: {
        type: Boolean,
        default: true,
      }
    },
    methods: {
      show() {
        this.$el.style.display = 'block';
        this._body = document.querySelector('body');
        const _this = this;

        _this._body.classList.add('modal-open');

      },
      hide() {
        const _this = this;
       _this._body.classList.remove('modal-open');
       // no hide the modal wrapper
       _this.$el.style.display = 'none';

       _this.showModal = false;
      },
      onClickOut(e) {
        // if backdrop clicked, hide modal
        if (this.closeOnBackdrop && e.target.id && e.target.id === this.id) {
          //this.hide()
           //this.$emit('hideModal')
            eventHub.$emit('hideModal', this.id);

        }
      },
      showModalFunc(modalID) {

              if( modalID == this.id )
              {
              console.log("show id " +modalID);
                   this.show();
              }

           },
      hideModalFunc(modalID) {

               if( modalID == this.id  )
               {
                     console.log("hide id " +modalID);
                    this.hide();
               }
           }
    },
    created: function () {
          eventHub.$on('showModal', this.showModalFunc );
          eventHub.$on('hideModal', this.hideModalFunc );
    },
    mounted() {
      // support for esc key press
      document.addEventListener('keydown', (e) => {
        const key = e.which || e.keyCode;
        if (key === 27) { // 27 is esc
          //this.hide()
          eventHub.$emit('hideModal',this.modalID);
        }
      })
    },
    destroyed() {
      clearTimeout(this._modalAnimation)
    },
  }

</script>
