<template>
<div class="wrap">
    <h1>Manage events by name</h1>
    <table>
        <tr>
            <td><h3>Title</h3></td>
            <td><h3>Participants</h3></td>
            <td><h3>Not participating</h3></td>
        </tr>

        <event
            is="event"
            v-for="(event,eventIndex) in this.events"
            :event="event"
            :eventIndex="eventIndex"
            v-on:remove="remove"
            v-on:add="add"
        ></event>

    </table>
</div>
</template>

<script>

//var jQuery = require('jquery');
var axios = require('axios');
var event = require('./event.vue');
//var lib = require('../util/lib');
//var eventHub = require('eventHub');

module.exports = {

  mounted : function()
  {
    var vm = this;

   // Performing a GET request
   axios.get(vm.ajaxurl, vm.ajaxparams)
     .then(function(response){
       vm.events = response.data;
     });

  },
  methods : {
    remove: function(eventIndex,participantsIndex)
    {
        //remove element from participants, add to not participating users
        var elementArray = this.events[eventIndex].participants.splice(participantsIndex, 1);
        var element= elementArray[0];
        this.events[eventIndex].notParticipatingUsers.push(element);

         //remove from database
         var vm = this;
         var data = vm.ajaxparamsRemoveFromDB;
         data.params.eventID = this.events[eventIndex].ID;
         data.params.userID =  element.id;
         // Performing a GET request
           axios.get(vm.ajaxurl, data)
             .then(function(response){

             });


    },
    add: function(eventIndex,notParticipatingUserIndex)
    {
        //remove element from not participanting users, add to participating users
        var elementArray = this.events[eventIndex].notParticipatingUsers.splice(notParticipatingUserIndex, 1);
        var element= elementArray[0];
        this.events[eventIndex].participants.push(element);

         //add to database
         var vm = this;
         var data = vm.ajaxparamsAddToDB;
         data.params.eventID = this.events[eventIndex].ID;
         data.params.userID =  element.id;
         // Performing a GET request
           axios.get(vm.ajaxurl, data)
             .then(function(response){

             });
    }
  },
  updated : function()
  {

  },
  data: function() {
    return {
        events : {}
    }
  },
  computed:
  {
    ajaxurl : function() {
            return '/wp-admin/admin-ajax.php';
    },
    ajaxparams : function() {
            return  {
              params: {
                 action: 'getEvents'
              }
            }
    },
    ajaxparamsAddToDB : function() {
            return  {
              params: {
                 action: 'addParticipant'
              }
            }
    },
    ajaxparamsRemoveFromDB : function() {
            return  {
              params: {
                 action: 'removeParticipant'
              }
            }
    }
  },
  components : {

      'event' : event
  }
}
</script>
