<template>
 <tbody>
    <tr>
          <td style="padding-right:40px;">{{ event.title }}</td>
          <td style="padding-right:40px; min-width:100px;">
          <template v-for="(participant,participantIndex) in event.participants">
            <tr>
                <td style="min-width:60px;">
                     <span>{{ participant.userNicename }}</span>
                </td>
               <td>
                    <button v-on:click="$emit('remove',eventIndex,participantIndex)">X</button>
                </td>
            </tr>
            </template>
          </td>
          <template v-for="(notParticipatingUser,notParticipatingUserIndex) in event.notParticipatingUsers">
            <tr>
                <td style="min-width:60px;">
                     <span>{{ notParticipatingUser.userNicename }}</span>
                </td>
               <td>
                   <button style="float:right" v-on:click="$emit('add',eventIndex,notParticipatingUserIndex)">+</button>
                </td>
            </tr>
            </template>
          </td>
       </tr>
       <tr>
        <td colspan="3">
          <hr />
        </td>
    </tr>
 </tbody>
</template>

<script>

//var eventHub = require('eventHub');

module.exports = {

  data: function() {
    return {

    }
  },
  props: ['event','eventIndex']

}
</script>
