<template>
 <tbody>
    <tr>
          <td style="padding-right:40px;">{{ user.userNicename }}</td>
          <td style="padding-right:40px;">

               <template v-for="(event,eventIndex) in user.events">
                  <tr>
                      <td style="min-width:60px;">
                           <span>{{ event.title }}</span>
                      </td>
                     <td>
                          <button v-on:click="$emit('remove',userIndex,eventIndex)">X</button>
                      </td>
                  </tr>
               </template>

          </td>
          <td>
              <template v-for="(notParticipatingEvent,notParticipatingEventIndex) in user.notParticipatingEvents">
                  <tr>
                      <td style="min-width:60px;">
                           <span>{{ notParticipatingEvent.title }}</span>
                      </td>
                     <td>
                         <button style="float:right" v-on:click="$emit('add',userIndex,notParticipatingEventIndex)">+</button>
                      </td>
                  </tr>
              </template>
          </td>

       </tr>
       <tr>
        <td colspan="3">
          <hr />
        </td>
    </tr>
 </tbody>
</template>

<script>

//var eventHub = require('eventHub');

module.exports = {

  data: function() {
    return {

    }
  },
  props: ['user','userIndex']

}
</script>
