<template>
<div class="wrap">
    <h1>Manage events by user</h1>
    <table>
        <tr>
            <td><h3>User</h3></td>
            <td><h3>Events</h3></td>
            <td><h3>Not participating at</h3></td>
        </tr>

        <event
            is="user"
            v-for="(user,userIndex) in this.users"
            :user="user"
            :userIndex="userIndex"
            v-on:remove="remove"
            v-on:add="add"
        ></event>

    </table>
</div>
</template>

<script>

//var jQuery = require('jquery');
var axios = require('axios');
var user = require('./user.vue');
//var lib = require('../util/lib');
//var eventHub = require('eventHub');

module.exports = {

  mounted : function()
  {
    var vm = this;

   // Performing a GET request
   axios.get(vm.ajaxurl, vm.ajaxparams)
     .then(function(response){
       vm.users = response.data;
     });

  },
  methods : {
    remove: function(userIndex,eventIndex)
    {

        //remove element from participants, add to not participating users
        var elementArray = this.users[userIndex].events.splice(eventIndex, 1);
        var element= elementArray[0];
        this.users[userIndex].notParticipatingEvents.push(element);

         //remove from database
         var vm = this;
         var data = vm.ajaxparamsRemoveFromDB;
         data.params.eventID = element.ID;
         data.params.userID =  this.users[userIndex].id;
         // Performing a GET request
           axios.get(vm.ajaxurl, data)
             .then(function(response){

             });


    },
    add: function(userIndex,notParticipatingEventIndex)
    {
        //remove element from not participanting users, add to participating users
        var elementArray = this.users[userIndex].notParticipatingEvents.splice(notParticipatingEventIndex, 1);
        var element= elementArray[0];
        this.users[userIndex].events.push(element);

         //add to database
         var vm = this;
         var data = vm.ajaxparamsAddToDB;
         data.params.eventID = element.ID;
         data.params.userID =  this.users[userIndex].id;
         // Performing a GET request
           axios.get(vm.ajaxurl, data)
             .then(function(response){

             });
    }
  },
  updated : function()
  {

  },
  data: function() {
    return {
        users : {}
    }
  },
  computed:
  {
    ajaxurl : function() {
            return '/wp-admin/admin-ajax.php';
    },
    ajaxparams : function() {
            return  {
              params: {
                 action: 'getUsers'
              }
            }
    },
    ajaxparamsAddToDB : function() {
            return  {
              params: {
                 action: 'addParticipant'
              }
            }
    },
    ajaxparamsRemoveFromDB : function() {
            return  {
              params: {
                 action: 'removeParticipant'
              }
            }
    }
  },
  components : {

      'user' : user
  }
}
</script>
