<section id="events">
    <div class="container">
        <div class="row">
            {% for event in allEvents %}
            <div class="col-xs-12">
                <div class="bg-white">
                    <div class="event">
                        <div class="menu-content sameHeight">
                            <h4>{{ event.title }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</section>