<section id="events">
    <div class="container">
        <div class="row">
            {% for event in allEvents %}
                {% set isParticipant = false %}

                {% for participant in event.participants %}
                    {% if userID == participant.id %}
                        {% set isParticipant = true %}
                    {% endif %}
                {% endfor %}

                {% if isParticipant == true %}
                    <div class="col-xs-12">
                    <div class="bg-white">
                        <div class="event registered">
                            <div class="menu-content sameHeight">
                                <h4>{{ event.title }}</h4>

                                <span>actions:</span>
                                <form action="/event-manager/de-register/user/{{ userID }}/event/{{ event.ID }}" method="post">
                                    <button type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
         </div>
    </div>
</section>