<div class="wrap">
    <h2>Events Admin Pages</h2>

    <!--
    <span class="dashicons dashicons-admin-site"></span>

    <div id="message" class="updated">Settings saved successfully</div>
    <div id="message" class="error">Error saving settings</div>


    <input type="submit" name="Save" value="Save Options" class="button-primary" />

    <a href='#' class='button-secondary'>Search</a>
    <a href='#' class='button-primary'>Search</a>
    -->

    <!--
    <div class="tablenav">
        <div class="tablenav-pages">
            <span class="displaying-num">Displaying 1-20 of 69</span>
            <span class="page-numbers current">1</span> <a href="#" class="page-numbers">2</a>
            <a href="#" class="page-numbers">3</a>
            <a href="#" class="page-numbers">4</a>
            <a href="#" class="next page-numbers">&raquo;</a>
        </div>
    </div>
    -->

<!--
<form method="POST" action=""> <table class="form-table widefat">
        <tr valign="top">
            <th scope="row"><label for="fname">First Name</label></th>
            <td><input maxlength="45" size="25" name="fname" /></td>
        </tr>
        <tr valign="top">
            <th scope="row"><label for="lname">Last Name</label></th>
            <td><input id="lname" maxlength="45" size="25" name="lname" /></td>
        </tr>
        <tr valign="top">
            <th scope="row"><label for="color">Favorite Color</label></th>
            <td>
                <select name="color">
                    <option value="orange">Orange</option>
                    <option value="black">Black</option>
                </select>
            </td>
        </tr>
        <tr valign="top">
            <th scope="row"><label for="featured">Featured?</label></th>
            <td><input type="checkbox" name="favorite" /></td>
        </tr>
        <tr valign="top">
            <th scope="row"><label for="gender">Gender</label></th>
            <td>
                <input type="radio" name="gender" value="male" /> Male
                <input type="radio" name="gender" value="female" /> Female
            </td>
        </tr>
        <tr valign="top">
            <th scope="row"><label for="bio">Bio</label></th>
            <td><textarea name="bio"></textarea></td>
        </tr>
        <tr valign="top">
            <td>
                <input type="submit" name="save" value="Save Options"
                       class="button-primary" />
                <input type="submit" name="reset" value="Reset"
                       class="button-secondary" /> </td>
        </tr> </table> </form>
-->

    <table class="form-table widefat">
        <tr>
            <td><h2>Event</h2></td>
            <td><h2>Participants</h2></td>
            <td><h2>Actions</h2></td>
        </tr>
        {% for event in allEvents %}
            <tr>
                <td>{{ event.title }}</td>
                <td>
                    {% for participant in event.participants %}

                        <form action="/event-manager/admin/de-register/user/{{ participant.ID }}/event/{{ event.ID }}" method="post">
                            <table>
                                <tr>
                                    <td style="min-width: 100px">
                                         <label>{{ participant.userNicename }}</label>
                                    </td>
                                    <td>
                                        <input type="submit" name="" value="delete"
                                               class="button-primary" />
                                    </td>
                                </tr>
                            </table>
                        </form>

                    {% endfor %}
                </td>
                <td>

                    {% if event.notParticipatingUsers is not empty %}
                    <form method="post" action="/event-manager/admin/register/user/">

                        <select name="user_id">
                            {% for notParticipatingUser in event.notParticipatingUsers %}
                            <option value="{{ notParticipatingUser.id }}">
                                {{ notParticipatingUser.userNicename }}
                            </option>
                            {% endfor %}
                        </select>

                        <input type="hidden" name="event_id" value="{{ event.id }}" />
                        <input type="submit" name="" value="add"
                               class="button-primary" />
                    </form>
                    {% endif %}

                </td>

            </tr>
            <tr>
                <td colspan="3"><hr /></td>
            </tr>
        {% endfor %}
    </table>

</div>