<section id="events">
    <div class="container">
        <div class="row">
            {% for event in allEvents %}
                {% set isParticipant = false %}

                {% for participant in event.participants %}
                    {% if userID == participant.id %}
                        {% set isParticipant = true %}
                    {% endif %}
                {% endfor %}

            <div class="col-xs-12">
                <div class="bg-white">

                    {% if isParticipant == true %}
                    <div class="event registered">
                    {% else %}
                    <div class="event">
                    {% endif %}

                        <div class="menu-content sameHeight">
                            <h4>{{ event.title }}</h4>


                            <span>actions:</span>

                            {% if isParticipant == true %}
                                <form action="/event-manager/de-register/user/{{ userID }}/event/{{ event.ID }}" method="post">
                                    <button type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            {% else %}
                                <form action="/event-manager/register/user/{{ userID }}/event/{{ event.ID }}" method="post">
                                    <button type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</section>