<div class="wrap">
    <h2>Participants Admin Pages</h2>

    <table class="form-table widefat">
        <tr>
            <td><h2>Participants</h2></td>
            <td><h2>Events</h2></td>
            <td><h2>Action</h2></td>
        </tr>
        {% for user in allUsers %}
            <tr>
                <td>{{ user.userNicename }}</td>
                <td>
                    <ul>
                    {% for event in user.events %}
                        <li>
                        &bull; {{  event.title }}
                            <form action="/event-manager/admin/de-register/user/{{ user.id }}/event/{{ event.ID }}" method="post">
                                <input type="submit" class="button-primary" value="delete" />
                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    {% if user.notParticipatingEvents is not empty %}
                        <form method="post" action="/event-manager/admin/register/user/">

                            <select name="event_id">
                                {% for event in user.notParticipatingEvents %}
                                    <option value="{{ event.id }}">
                                        {{ event.title }}
                                    </option>
                                {% endfor %}
                            </select>

                            <input type="hidden" name="user_id" value="{{ user.id }}" />
                            <input type="submit" name="" value="add"
                                   class="button-primary" />
                        </form>
                    {% endif %}
                </td>
            </tr>
        <tr><td colspan="3"><hr /></td></tr>
        {% endfor %}
    </table>

</div>